* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url(image/Background/large.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

header {
  width: 100vw;
  height: 10vh;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
}

.main-container {
  color: white;
  box-shadow: 1px 1px 1px 1px slategrey;
  width: 20vw;
  height: 60vh;
}

.main-container-content {
  width: 20vw;
  height: 50vh;
  margin-top: 50px;
}

.main-image {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
  width: inherit;
}

.image {
  display: flex;
  justify-content: center;
}

.image img {
  width: 60%;
  height: 100%;
}

.main-input {
  font-size: 1.4rem;
  display: inline-grid;
  margin: 0 auto;
  width: 20vw;
  height: 20vh;
}

.main-input input {
  margin: 0.7rem auto;
  width: 15vw;
}

.main-buttons {
  text-align: center;
  margin-top: 0.5rem;
}

.main-buttons button a {
  margin-top: 3rem;
  width: 25vw;
  text-decoration: none;
}

footer {
  width: 100vw;
  height: 10vh;
}
